@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(12,3,171,1) 0%, rgba(9,9,121,1) 0%, rgba(0,99,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

h2{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

main{
    background-color: aliceblue;
    height: 80vh;
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result{
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20%;
    color: white;
    border-radius: 20px 20px 0 0;
    background-color: rgba(0, 98, 255, 0.562);
    padding-right: 20px;
}

.numbers{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line{
    height: 20%;
    width: 100%;
    display: flex;
}

button{
    height: 100%;
    width: 25%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid grey;
}

#zerar{
    width: 75%;
}

#divisao{
    width: 25%;
}

#zero{
    width: 50%;
    border-radius: 0 0 0 20px;
}

#igual{
    border-radius: 0 0 20px 0;
}

.color-blue{
    background-color: rgba(0,99,255,1);
}